<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[Cloudopt Next] %d{yyyy-MM-dd HH:mm:ss} %logger{36} [%-5level] - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
